.btn-login {
    width: 220px;
    height: 45px;
    background: #da5c5c;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #fff;
    border: 0;
    cursor: pointer;
}