    .cargo-container {
        padding-top: 100px;
        height: calc(100vh - 254px);
    }
    
    .cargo-container h1 {
        margin: 0;
    }
    
    .cargo-content {
        display: flex;
        justify-content: center;
    }