    .cargo-container {
        padding-top: 100px;
        height: calc(100vh - 254px);
    }
    
    .cargo-container h1 {
        margin: 0;
    }
    
    .cargo-content {
        display: flex;
        justify-content: center;
    }
    
    .cargo-btn-salvar {
        width: 220px;
        height: 45px;
        background: #da5c5c;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #fff;
        border: 0;
        cursor: pointer;
    }